# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [102]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import mannwhitneyu

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
df_dragon = df[(df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon')]["HP"]
df_grass = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]["HP"]

#Set the hypothesis
#H0: mu_hp dragon > mu_hp grass
#H1:  mu_hp dragon <= mu_hp grass
#significance level = 0.05

t_statistic, p_value = st.ttest_ind(df_dragon, df_grass, equal_var=False, alternative='greater')
print(f"T-statistic: {t_statistic}, p-value: {p_value}")
# Decision at 5% significance level
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
stats_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
df['Stats'] = df[stats_columns].mean(axis=1)
df_legendary = df[(df['Legendary'] == True)]["Stats"]
df_non_legendary = df[(df['Legendary'] == False)]["Stats"]

#Set the hypothesis
#H0: mu_stats legandary != mu_stats non-legendary
#H1: mu_stats legandary = mu_stats non-legendary
#significance level = 0.05

t_statistic, p_value = st.ttest_ind(df_legendary, df_non_legendary, equal_var=False, alternative='two-sided')
print(f"T-statistic: {t_statistic:.4f}, p-value: {p_value:.4f}")
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [94]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
def calculate_distances(df):
    school_long, school_lat = -118, 37
    hospital_long, hospital_lat = -122, 34
    df['distance_to_school'] = np.sqrt((df['longitude'] - school_long)**2 + (df['latitude'] - school_lat)**2)
    df['distance_to_hospital'] = np.sqrt((df['longitude'] - hospital_long)**2 + (df['latitude'] - hospital_lat)**2)
    return df
df_with_distances = calculate_distances(df)

In [98]:
df_close_houses = df_with_distances[(df_with_distances['distance_to_school'] < 0.50) | (df_with_distances['distance_to_hospital'] < 0.50)]["median_house_value"]
df_far_houses = df_with_distances[(df_with_distances['distance_to_school'] >= 0.50) & (df_with_distances['distance_to_hospital'] >= 0.50)]["median_house_value"]

#Set the hypothesis
#H0: mu_median_house_value df_close_houses > mu_median_house_value df_far_houses
#H1: mu_median_house_value df_close_houses <= mu_median_house_value df_far_houses
#significance level = 0.05

t_statistic, p_value = st.ttest_ind(df_close_houses, df_far_houses, equal_var=False, alternative='greater')
print(f"T-statistic: {t_statistic}, p-value: {p_value}")
# Decision at 5% significance level
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

T-statistic: -17.174167998688404, p-value: 0.9999738999071939
Fail to reject the null hypothesis